[user]
	username = lewi
	name = Luis Robletto
	location = Panama
	website = 
	signingkey = 9636680034BD1E3A55E6C663A52BEE9EDB19E3BD
[commit]
	gpgsign = true
[aliases]
	keybase = 
	reddit = lewi-guld
	github = Lewi507
	bitbucket = Lewi507
	gitlab = 
	npm = 
	twitter = Lewi507
	instagram = Lewi507
[alias]
	pushall = !git remote | xargs -L1 -I R git push R $2
[merge "ours"]
	driver = true
